.modal,
.modal-open {
    padding-right: 0 !important;
}
.modal-body {
    background: var(--background);
}
.modal-content {
    background: inherit;
}
.modal-content .voice-rcrd-icon a,
.modal-content .voice-upload-icon a {
    height: 100px;
    width: 100px;
    line-height: 65px;
    margin-left: 50px;
    position: relative;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-content .voice-rcrd-icon a:before,
.modal-content .voice-upload-icon a:before {
    content: "";
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 120px;
    height: 120px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
}
.modal-content .voice-rcrd-icon a.active:before {
    animation: pulse-border 1500ms ease-out infinite;
}
.modal-content .voice-rcrd-icon a,
.modal-content .voice-upload-icon a {
    margin: 50px auto;
}
.modal-content .voice-rcrd-icon a:hover,
.modal-content .voice-upload-icon a:hover {
    background-color: var(--main-color);
}
.modal-content .voice-rcrd-icon a:hover img,
.modal-content .voice-upload-icon a:hover img {
    filter: brightness(0) invert(1);
}
.modal-body .not-selected {
    color: var(--light-color);
}

/* Popover */
.popover {
    z-index: 1;
    max-width: 210px;
}
