.team_member_part.sec_padding {
    padding: 104px 0 40px;
    background: var(--background);
}
@media (min-width: 991px) {
    .section_tittle {
        margin-top: 71px;
    }
}
.team_member_part {
    overflow: hidden;
}
.team_member_part .members {
    margin-top: 60px;
}
.team_member_part .team_member_info p {
    color: var(--light-color);
}
.acoount-type-check label {
    color: white;
}
