body {
    font-family: Futura;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Futura;
}
.ft_font {
    font-family: Futura;
}
.ft_font h2,
.ft_font h3,
.ft_font h4,
.ft_font h5 {
    font-family: Futura;
}
.ft_font p {
    font-family: Futura;
}
.section_tittle h5 {
    letter-spacing: 2px;
}
.footer_section .footer_nav ul li a {
    font-size: 18px;
}
/* Home */
.sidebar_part .single_sidebar input {
    padding-right: 54px;
}
.sidebar_part .single_sidebar i {
    right: 30px;
}
.img_banner_section .banner_iner h2 span {
    font-family: "Playfair Display", serif;
    font-style: italic;
}
.team_member_part .members_corporate {
    transform: translateX(100%);
}
#account-type-corporate:checked ~ .members .members_corporate,
#pricing-corporate:checked ~ .members .members_corporate {
    transform: translateX(-100%);
}
#account-type-corporate:checked ~ .members .members_personal,
#pricing-corporate:checked ~ .members .members_personal {
    transform: translateX(-200%);
}
.acoount-type-check label::before {
    transform: translateX(-102%);
}
.acoount-type-check label:first-of-type::before {
    transform: translateX(102%);
}
/* Signup */
.acoount-type-check label::before {
    transform: translateX(-102%);
}
.acoount-type-check.profile label::before {
    transform: translateX(-302%);
}
.acoount-type-check label:first-of-type::before {
    transform: translateX(102%);
}
/* Navbar */
@media only screen and (min-width: 1200px) and (max-width: 1439px) {
    .header_part.classic_header .navbar-nav {
        padding-left: 60px;
    }
}
/* Forms */
.contact_section_content.pr_60 {
    padding-right: 60px;
}
@media (max-width: 767.98px) {
    .contact_section_content.pr_60 {
        padding-right: 0;
    }
}
/* Profile */
.copy-card-data-left,
.copy-card-data-right {
    background: rgba(0, 0, 0, 0.6);
    margin: 0 -15px;
    padding: 16px;
}
.profile-toggle-btn:first-of-type {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}
.profile-toggle-btn:last-of-type {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}
.absolute-btn {
    right: 16px;
}
@media screen and (min-width: 576px) {
    .record-profile-card:not(.biography) {
        padding-right: 55px !important;
    }
}
/* Card toggle */
.card-header button::after,
.card-header button::before {
    right: 8px;
}
/* Give it a try */
.listen-btn-container button {
    pointer-events: none;
    transform: translate(-35px, 20px);
}
